

.login-page{
    width: 100%;
    height: 100%;
    background-color: #cbd5e1;
    display: grid;
    place-items: center;
}

.login-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #94a3b8;
    gap: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    outline: none;
    padding: .25rem;
}